@import url("./reset.css");
@import url("./font.css");
@import url("./page.css");

body {
    margin: 0;
    display: flex;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background: #eaefef;
}


html, body {
    font-family: Fellix, -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, sans-serif;
    padding: 0;
    margin: 0;
    min-height: 100vh;
}

.w-full {
    width: 100%;
}

.cursor-pointer {
    cursor: pointer;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    max-width: 1240px;
    margin: 0 auto;
}

